/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #121724;
    color: #ffffff;
    font-family: "Times New Roman", serif;
    font-size: 14px;
}


* {
	font-family: "Times New Roman";
}

ol[type = "I"]{
	font-size: 18px;
	color:#FA00FF;
}

ol[type = "A"]{
	font-size: 16px;
	color: #86FFEA;
}

ol[type = "1"]{
	color:#43CDFF;
}

ol{
	color:#43CDFF;
}

ol.lowerLetter {
	color:#9B00FF;
}

ol.lowerRoman {
	color:#FA00FF;
}

.code {
	color:#81EDA4;
	font-size: 16px;
	font-family: serif;
}

table {
	font-size: 14px;
	color:#81EDA4;
	background-color: #20293F;
}

a {
	color:#FA00FF
}

.codeContainer {
	background-color: #20293F;
	padding: 15px;
	width: 100%;
}
